<h3>Cart</h3>

<p>
    <a routerLink="/shipping">Shipping Prices</a>
</p>



<table class="table">
        <thead>
            <tr>
                <th scope="col">Game Title</th>
                <th scope="col">Price</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
            </tr>
        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
            <button class="button" type="submit">Purchase</button>
            </form>
        </div>
    </div>


    <div class="container">
    <div class="row">

    <div class="col-sm text-left">
      <img src="" alt="">
    </div>

    <div class="col-sm text-center">
      <img src="../../assets/images/cart bg.png" alt="">
    </div>

    <div class="col-sm text-right">
      <img src="" alt="">
    </div>

    

    </div>
    </div>

